body {
    font-family: sans-serif;
}

.container > div {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(207, 232, 220);
    border: 2px solid rgb(79, 185, 227);
}

.container {
    display: grid;
    grid-template-columns: repeat(3);
    grid-auto-rows: minmax(50px auto);
    gap: 20px;
}

header {
    grid-column: 1/3;
    grid-row: 1;
}

main {
    grid-column-start: 2;
    grid-row: 2;
}
footer {
    grid-row: 3;
}