/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* remove bullet points and defalut lists styling */
.nav-menu {
    list-style: none;
}

/* remove underlines from links*/
.nav-menu a {
    text-decoration: none;
    color: white;
}

/* make nav bar a flex container with a background color */
nav {
    background-color: #2c3e50;
    padding: 1rem;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* style the links */
.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    background-color: #2c3ea6;
    padding: 10px 20px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.6s ease;
}

.nav-menu a:hover {
    background-color: #34495a;
}

/*add logo and new container holds logo and menu */ 
.nav-container {
    display: flex;
    justify-content: space-between; /* logo will go all the way to left and menu goes to the right */
    align-items: center;
    background-color: #2c3e50;
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 2rem;
}